    </head>
        <body>
            <% if (log_email) { %>
                <p>Logged in as: <%= log_email %> </p>
            <% } else {%>
                <p>Anonymous</p>
            <% } %>
            <div id="container">