<h1>Landing page</h1>
<p>This is a application for logging daily activities</p>

<h3>Users average mood</h3>
<ul>
    <li>today: </li>
    <li>yesterday: </li>
</ul>

<a href="/auth/register">register</a>
<a href="/auth/login">login</a>
<a href="/behavior/summary">summary</a>
<a href="/behavior/reporting">reporting</a>