<%- include('./partials/header0.ejs') %>
    <%- include('./partials/header1.ejs') %>

            <h1>Login</h1>

            <%- include('./partials/error_partial.ejs') %>

            <form method="POST" action="/auth/login">
                <div>
                    <label for="email">email</label>
                    <input type="email" name="email" style="width:300px;border: 1px solid #000000 !important;" />
              
                    <label for="password">password</label>
                    <input type="password" name="password" style="border: 1px solid #000000 !important;" />
                </div>

                <div>
                    <input type="submit" value="Login!" />
                </div>
            </form>

            <div style="display:flex;margin-top: 20px;">
                <form action="/auth/register">
                    <input type="submit" value="Register" style="margin-right: 10px;"/>
                </form>
                <form action="/">
                    <input type="submit" value="Landing" style="margin-right: 10px;"/>
                </form>

                <form method="POST" action="/auth/logout">
                    <input type="submit" value="Logout" style="margin-right: 10px;" />
                </form>
            </div>
<%- include('./partials/footer.ejs') %>