<%- include('./partials/header0.ejs') %>

    <script src="/static/get_today.js" defer></script>
    <%- include('./partials/header1.ejs') %>

            <h1>Reporting</h1> 

            <%- include('./partials/error_partial.ejs') %>
            
            <h2>Morning reporting</h2>
            <form method="POST" action="/behavior/reporting/morning" >
                <div >
                    <label for="date" class="centerlabel">date</label>
                    <input type="date" name="date" class="date_today" >    
                </div>
                
                <div >
                    <label for="sleep_duration" class="centerlabel">sleep duration</label>
                    <input type="number" name="sleep_duration" min="0" max="24" step=".0001" value="0" >
                </div>
                
                <div >
                    <label for="sleep_quality" class="centerlabel">sleep quality</label>
                    <input type="number" name="sleep_quality" min="1" max="5" value="1" step="1" >
                </div>
                
                <div >
                    <label for="mood" class="centerlabel">generic mood</label>
                    <input type="number" name="mood" min="1" max="5" value="1" step="1" >
                </div>
                
                <div >
                    <input type="submit" value="Submit!" />
                </div>
            </form>

            <h2>Evening reporting</h2>
            <form method="POST" action="/behavior/reporting/evening">
                <div>
                    <label for="date" class="centerlabel">date</label>
                    <input type="date" name="date" class="date_today">
                </div>
                
                <div>
                    <label for="sport_time" class="centerlabel">sports and exercise duration</label>
                    <input type="number" name="sport_time" min="0" max="24" step=".0001" value="0">
                </div>

                <div>
                    <label for="study_time" class="centerlabel">time spent studying</label>
                    <input type="number" name="study_time" min="0" max="24" step=".0001" value="0">
                </div>

                <div>
                    <label for="eating" class="centerlabel">regularity and quality of eating</label>
                    <input type="number" name="eating" min="1" max="5" value="1" step="1">
                </div>

                <div>
                    <label for="mood" class="centerlabel">generic mood</label>
                    <input type="number" name="mood" min="1" max="5" value="1" step="1">
                </div>

                <div>
                    <input type="submit" value="Submit!" />
                </div>
          </form>

            <div style="margin-top: 20px;">
                <h6>Navigate to</h6>
                <div style="display:flex;">
                    <form action="/behavior/summary">
                        <input type="submit" value="Summary" style="margin-right: 10px;"/>
                    </form>
                    <form action="/auth/login">
                        <input type="submit" value="Login" style="margin-right: 10px;"/>
                    </form>
                    <form action="/">
                        <input type="submit" value="Landing" style="margin-right: 10px;"/>
                    </form>
                </div>
            </div>
<%- include('./partials/footer.ejs') %>