
<h1>Summary!</h1>

<h2>Weekly average for <%= week_summary %> </h2>

<ul>
    <li>Average sleep duration: </li>
    <li>Average time spent on sports and exercise: </li>
    <li>Average time spent studying: </li>
    <li>Average sleep quality: </li>
    <li>Average generic mood: </li>
</ul>

<h2>Monthly average for <%= month_summary %> </h2>

<ul>
    <li>Average sleep duration: </li>
    <li>Average time spent on sports and exercise: </li>
    <li>Average time spent studying: </li>
    <li>Average sleep quality: </li>
    <li>Average generic mood: </li>
</ul>

<a href="/behavior/reporting">report</a>